<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html ng-app="PISIRT" ng-controller="IoTController as iotCtrl"> <!--<![endif]-->

<!-- BEGIN HEAD-->
<head>
   
     <meta charset="UTF-8" />
    <title>Index</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
     <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
    <!-- GLOBAL STYLES -->
    <!-- GLOBAL STYLES -->
    <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <link rel="stylesheet" href="assets/css/theme.css" />
    <link rel="stylesheet" href="assets/css/MoneAdmin.css" />
    <link rel="stylesheet" href="assets/plugins/Font-Awesome/css/font-awesome.css" />
	<link rel="stylesheet" href="styles/temperature.css" />
     <link rel="stylesheet" href="assets/css/accueil.css" />
    <link rel="stylesheet" href="assets/plugins/magic/magic.css" />
    <!--END GLOBAL STYLES -->

    <!-- PAGE LEVEL STYLES -->
    <!-- END PAGE LEVEL  STYLES -->
       <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
	
	<script src="scripts/angular.min.js"></script>
	<script src="scripts/angular-cookies.js"></script>
	<script src="scripts/final.js"></script>
	<script src="scripts/plotly-latest.min.js"></script>
</head>
    <!-- END  HEAD-->
    <!-- BEGIN BODY-->
<body class="padTop53 ">

     <!-- MAIN WRAPPER -->
    <div id="wrap">


         <!-- HEADER SECTION -->
        <div id="top">

            <nav class="navbar navbar-inverse navbar-fixed-top " style="padding-top: 10px;">
                <a data-original-title="Show/Hide Menu" data-placement="bottom" data-tooltip="tooltip" class="accordion-toggle btn btn-primary btn-sm visible-xs" data-toggle="collapse" href="#menu" id="menu-toggle">
                    <i class="icon-align-justify"></i>
                </a>
                <ul class="nav navbar-top-links navbar-right">

                    <!-- MESSAGES SECTION -->
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <span class="label label-success">{{alerts.length}}</span>    <i class="icon-envelope-alt"></i>&nbsp; <i class="icon-chevron-down"></i>
                        </a>

                        <ul class="dropdown-menu dropdown-messages">
                            <li ng-repeat="item in alerts">
                                <a href="#" >
                                    <div>
                                       <strong>{{item.name}}</strong>
                                        <span class="pull-right text-muted">
                                            <em>{{ dateFunction(item.date) }}</em>
                                        </span>
                                    </div>
                                    <div ng-style="item.color">{{item.text}}.
                                        <br />
                                        <span class="label label-primary">Important</span> 
                                    </div>
                                </a>
								<li class="divider"></li>
                            </li>
                        </ul>

                    </li>
                    <!--END MESSAGES SECTION -->

                    <!--ADMIN SETTINGS SECTIONS -->

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="icon-user "></i>&nbsp; <i class="icon-chevron-down "></i>
                        </a>

                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#"><i class="icon-user"></i> User Profile </a>
                            </li>
                            <li><a href="#" ng-click="showDiv(4)"><i class="icon-gear"></i> Settings </a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="" ng-click="logoutFunction()"><i class="icon-signout"></i> Logout </a>
                            </li>
                        </ul>

                    </li>
                    <!--END ADMIN SETTINGS -->
                </ul>

            </nav>

        </div>
        <!-- END HEADER SECTION -->



        <!-- MENU SECTION -->
       <div id="left" ng-show="logged==true">
            <div class="media user-media well-small" >
                <a class="user-link" href="#">
                    
                </a>
                <br />
                <div class="media-body">
                    <h5 class="media-heading"> {{ user }}</h5>
                    <ul class="list-unstyled user-info">
                        <li>
                             <a class="btn btn-success btn-xs btn-circle" style="width: 10px;height: 12px;"></a> Online
                        </li>
                    </ul>
                </div>
                <br />
            </div>

            <ul id="menu" class="collapse">
                <li class="panel">
                    <a href="" ng-click="showDiv(0)">
                        <i class="icon-table"></i> Dashboard
                    </a>                   
                </li>
				<li class="panel">
                    <a href="" ng-click="showDiv(1)">
                        <i class="icon-table"></i> Temperature
                    </a>                   
                </li>
				<li class="panel">
                    <a href="" ng-click="showDiv(2)">
                        <i class="icon-table"></i> Presence
                    </a>                   
                </li>
				<li class="panel">
                    <a href="" ng-click="showDiv(3)">
                        <i class="icon-table"></i> Light
                    </a>                   
                </li>
				<li class="panel">
                    <a href="" ng-click="showDiv(4)">
                        <i class="icon-table"></i> Gaz
                    </a>                   
                </li>
				<li class="panel">
                    <a href="" ng-click="logoutFunction()">
                        <i class="icon-table"></i> Log Out
                    </a>                   
                </li>
            </ul>
        </div>
        <!--END MENU SECTION -->


        <!--PAGE CONTENT -->
        <div id="content">
            <div class="inner" style="min-height:1200px;" ng-show="shDiv == 0">
                <div class="row">
                    <div class="col-lg-12">
						<h2 style="color:orange">Index</h2>
                    </div>
                </div>
                <hr />
				<!--PAGE CONTENT -->
				<div ng-show="logged == true">
					<h3 style="color:orange">Hello {{ user }}</h3>
					<p class="classroom">Please choose a classroom to begin</p>
					<table>
						<tr>
						   <td><center>B4 class<br /><img src="room.gif" title="salle B4" ng-click="chooseClassRoom(1)"/></center></td>
						   <td><center>B2 class<br /><img src="room.gif" title="B2 class" ng-click="chooseClassRoom(2)"/></center></td>
					   </tr>
					</table>
				</div>
				<div ng-show="logged == false">
					   <div class="container">
                            <div class="text-center">
                                <img src="assets/img/Hacker.png" id="logoimg" alt=" Logo" />
                            </div>
                            <div class="tab-content">
                                <div id="accueil" class="tab-pane active">
                                    <form class="form-signin">
                                        <p class="text-muted text-center btn-block btn btn-primary btn-rect">
                                            Enter your username and password
                                        </p>
                                        <input type="text" placeholder="Username" class="form-control" required id="loginText"/>
                                        <input type="password" placeholder="Password" class="form-control" required id="passwordText"/>
                                        <button class="btn text-muted text-center btn-danger" type="submit" ng-click="loginFunction()">Sign in</button>
                                    </form>
                                </div>
                            </div>
                            <div class="text-center">
                                <ul class="list-inline">
                                    <li><a class="text-muted" href="#accueil" data-toggle="tab">Login</a></li>
                                </ul>
                            </div>


                        </div>
				</div>
				<!--END PAGE CONTENT -->
            </div>
			
			<div class="inner" style="min-height:1200px;" ng-show="shDiv == 1">
                <div class="row">
                    <div class="col-lg-12">
						<h2 style="color:orange">Monitoring of the temperature</h2>	
                    </div>
                </div>
                <hr />
				<!--PAGE CONTENT -->
				<div ng-show="permut == 0">
					<h3 style="color:blue">Temperature graph in room {{ showRoom(AppRoom) }} </h3>
					<div id="myDiv"></div>
					<br />
					<button class="btn btn-primary btn-lg " ng-click="drawGraph()">Update</button>
					<button class="btn btn-primary btn-lg " ng-click="showHistory()">Alerts history</button>
				</div>
				<div ng-show="permut == 1">
					<h3 style="color:orange">Alerts history</h3>
					<table>
						<tr>
							<th>Text</th>
							<th>Time</th>
							<th>Class</th>
						</tr>
						<tr ng-repeat="item in alerts">
							<td style="color:{{ item.color }}" ng-if="item.name == 'Temperature'"> {{ item.text }}</td>
							<td style="color:{{ item.color }}" ng-if="item.name == 'Temperature'"> {{ dateFunction(item.date) }} </td>
							<td style="color:{{ item.color }}" ng-if="item.name == 'Temperature'"> {{ showRoom(item.room) }} </td> 
						</tr>
					</table>
					<button class="btn btn-primary btn-lg " ng-click="showHistory()">Return</button>
				</div>
			</div>
		
			<div class="inner" style="min-height:1200px;" ng-show="shDiv == 2">
				<div class="row">
					<div class="col-lg-12">
						<h2 style="color:orange">Presence detection</h2>
					</div>
				</div>
				<hr />
				<!--PAGE CONTENT -->
				<div ng-show="permut == 0">
					<h3 style="color:blue">Presence state in room {{ showRoom(AppRoom) }} </h3>
					<p ng-style="alert"> {{ text.presence }} </p>
					<br />
					<button class="btn btn-primary btn-lg " ng-click="showHistory()">Alerts history</button>
				</div>
				<div ng-show="permut == 1">
					<h3 style="color:orange">Alerts history</h3>
					<table>
						<tr>
							<th>Text</th>
							<th>Time</th>
							<th>Class</th>
						</tr>
						<tr ng-repeat="item in alerts">
							<td style="color:{{ item.color }}" ng-if="item.name == 'Intrusion'"> {{ item.text }}</td>
							<td style="color:{{ item.color }}" ng-if="item.name == 'Intrusion'"> {{ dateFunction(item.date) }} </td>
							<td style="color:{{ item.color }}" ng-if="item.name == 'Intrusion'"> {{ showRoom(item.room) }} </td> 
						</tr>
					</table>
					<button class="btn btn-primary btn-lg " ng-click="showHistory()">Return</button>
				</div>
				<!--END PAGE CONTENT -->
			</div>

            <div class="inner" style="min-height:1200px;" ng-show="shDiv == 3">
                <div class="row">
                    <div class="col-lg-12">
						<h2 style="color:orange">Light detection</h2>
                    </div>
                </div>
                <hr />
				<!--PAGE CONTENT -->
                <div ng-show="permut==0">
					<p ng-style="alert"> {{ text.light }} </p>
					<br />
					<button class="btn btn-primary btn-lg " ng-click="showHistory()">Alerts history</button>
				<!--END PAGE CONTENT -->
                </div>
                <div ng-show="permut == 1">
                    <h3 style="color:orange">Alerts history</h3>
                    <table>
                        <tr>
                            <th>Text</th>
                            <th>Time</th>
                            <th>Class</th>
                        </tr>
                        <tr ng-repeat="item in alerts">
                            <td style="color:{{ item.color }}" ng-if="item.name == 'Lights OFF'"> {{ item.text }}</td>
                            <td style="color:{{ item.color }}" ng-if="item.name == 'Lights OFF'"> {{ dateFunction(item.date) }} </td>
                            <td style="color:{{ item.color }}" ng-if="item.name == 'Lights OFF'"> {{ showRoom(item.room) }} </td> 
                        </tr>
                        <tr ng-repeat="item in alerts">
                            <td style="color:{{ item.color }}" ng-if="item.name == 'Lights ON'"> {{ item.text }}</td>
                            <td style="color:{{ item.color }}" ng-if="item.name == 'Lights ON'"> {{ dateFunction(item.date) }} </td>
                            <td style="color:{{ item.color }}" ng-if="item.name == 'Lights ON'"> {{ showRoom(item.room) }} </td> 
                        </tr>
                    </table>
                    <button class="btn btn-primary btn-lg " ng-click="showHistory()">Return</button>
                </div>
            </div>
			
			<div class="inner" style="min-height:1200px;" ng-show="shDiv == 4">
				<div class="row">
					<div class="col-lg-12">
						<h2 style="color:orange">Configuration</h2>
					</div>
				</div>
				<hr />
				<!--PAGE CONTENT -->
				<h2 style="color:blue">Current configuration</h2>
				<tr>
					<td>Server URL : {{server_url }}</td><br />
					<!-- <td>Username : {{confCtrl.username }}</td><br /> -->
					<!-- <td>Password : <span id="pss" ng-show="confCtrl.show == 1">{{confCtrl.password }}</span></td><br /> -->
					<!-- <button ng-click="confCtrl.updateShow()">Show password</button> -->
				</tr>
				<h2 style="color:blue">Change configuration</h2>
				<form>
					Server URL : <input type="text" id="url" value="{{ server_url }}"><br />
					<!-- Username : <input type="text" id="username" value="{{ confCtrl.username }}"><br /> -->
					<!-- Password : <input type="password" id="password" value="{{ confCtrl.password }}"><br /> -->
					<button ng-click="updateLink()">Confirm</button>
				</form>
				<!--END PAGE CONTENT -->
			</div>
		</div>	
	</div>	

     <!--END MAIN WRAPPER -->

   <!-- FOOTER -->
    <div id="footer">
        <p>&copy;  binarytheme &nbsp;2016 &nbsp;</p>
    </div>
    <!--END FOOTER -->
     <!-- GLOBAL SCRIPTS -->
    <script src="assets/plugins/jquery-2.0.3.min.js"></script>
     <script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/plugins/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    <script src="assets/js/accueil.js"></script>
    <!-- END GLOBAL SCRIPTS -->
</body>
    <!-- END BODY-->
    
</html>
